name: Nitrogen_Manual_Success
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build All
        shell: cmd
        run: |
          :: Билдим DLL (файлы jni.h уже внутри папки проекта)
          msbuild NitrogenDLL\NitrogenDLL.vcxproj /p:Configuration=Release /p:Platform=x64
          
          :: Билдим инжектор
          dotnet restore NitrogenInjector\NitrogenInjector.csproj
          msbuild NitrogenInjector\NitrogenInjector.csproj /p:Configuration=Release /p:Platform=AnyCPU

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Nitrogen_Ready_Archive
          path: |
            **/Release/*.dll
            **/Release/*.exe
