name: Nitrogen_Final_Victory
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build Everything
        shell: cmd
        run: |
          :: /p:LibraryPath говорит компилятору смотреть либы в папке NitrogenDLL
          msbuild NitrogenDLL\NitrogenDLL.vcxproj /p:Configuration=Release /p:Platform=x64 /p:LibraryPath="D:\a\nitrogensrcminecraft\nitrogensrcminecraft\NitrogenDLL"
          
          :: Билдим инжектор
          dotnet restore NitrogenInjector\NitrogenInjector.csproj
          msbuild NitrogenInjector\NitrogenInjector.csproj /p:Configuration=Release /p:Platform=AnyCPU

      - name: Upload Finished Cheat
        uses: actions/upload-artifact@v4
        with:
          name: Nitrogen_Ready_To_Use
          path: |
            **/Release/*.dll
            **/Release/*.exe
