name: Nitrogen_Final_Winner
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Physical Fix JNI
        shell: pwsh
        run: |
          # Вместо того чтобы править пути, мы просто копируем файлы Java 
          # Прямо в папку с твоим исходником main.cpp
          $targetDir = "NitrogenDLL"
          Copy-Item "$($env:JAVA_HOME)\include\jni.h" -Destination $targetDir
          Copy-Item "$($env:JAVA_HOME)\include\win32\jni_md.h" -Destination $targetDir
          Write-Host "Файлы jni.h и jni_md.h физически скопированы в $targetDir" -ForegroundColor Green

      - name: Build Project
        shell: cmd
        run: |
          :: Теперь компилятор ОБЯЗАН их увидеть, так как они в той же папке
          msbuild NitrogenDLL\NitrogenDLL.vcxproj /p:Configuration=Release /p:Platform=x64
          
          :: Билдим инжектор
          dotnet restore NitrogenInjector\NitrogenInjector.csproj
          msbuild NitrogenInjector\NitrogenInjector.csproj /p:Configuration=Release /p:Platform=AnyCPU

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Nitrogen_Ready
          path: |
            **/Release/*.dll
            **/Release/*.exe
