name: Nitrogen_Direct_Build
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build DLL
        shell: cmd
        run: |
          :: Нагло прописываем пути к Java в переменные Windows
          set INCLUDE=%JAVA_HOME%\include;%JAVA_HOME%\include\win32;%INCLUDE%
          :: Билдим строго по пути из твоего скрина
          msbuild NitrogenDLL\NitrogenDLL.vcxproj /p:Configuration=Release /p:Platform=x64

      - name: Build Injector
        shell: cmd
        run: |
          :: Восстанавливаем пакеты и билдим инжектор
          dotnet restore NitrogenInjector\NitrogenInjector.csproj
          msbuild NitrogenInjector\NitrogenInjector.csproj /p:Configuration=Release /p:Platform=AnyCPU

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Nitrogen_Final
          path: |
            NitrogenDLL/x64/Release/NitrogenDLL.dll
            NitrogenInjector/bin/Release/net48/Nitrogen.exe
