name: NitrogenBuild
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Nitrogen DLL
        shell: powershell
        run: |
          $proj = Get-ChildItem -Filter "NitrogenDLL.vcxproj" -Recurse | Select-Object -First 1
          if ($proj) {
            # Явно прописываем пути к JNI, чтобы C++ не ныл
            $env:INCLUDE += ";$($env:JAVA_HOME)\include;$($env:JAVA_HOME)\include\win32"
            msbuild $($proj.FullName) /p:Configuration=Release /p:Platform=x64
          }

      - name: Build Injector
        shell: powershell
        run: |
          $inj = Get-ChildItem -Filter "NitrogenInjector.csproj" -Recurse | Select-Object -First 1
          if ($inj) {
            # Восстанавливаем зависимости для C# (Fix NETSDK1004)
            dotnet restore $($inj.FullName)
            msbuild $($inj.FullName) /p:Configuration=Release /p:Platform=AnyCPU
          }

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: Nitrogen_Ready
          path: "**/Release/*"
