name: Nitrogen_Ultra_Final_Build
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup Java JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Nitrogen DLL (C++)
        shell: cmd
        run: |
          :: Жестко прописываем инклуды JDK для фикса ошибки C1083
          set INCLUDE=%JAVA_HOME%\include;%JAVA_HOME%\include\win32;%INCLUDE%
          
          :: Ищем vcxproj и билдим его в Release x64
          for /r %%f in (NitrogenDLL.vcxproj) do (
            echo Билдим проект: %%f
            msbuild "%%f" /p:Configuration=Release /p:Platform=x64 /p:CL_MPCount=4
          )

      - name: Build Nitrogen Injector (C#)
        shell: cmd
        run: |
          :: Ищем csproj, восстанавливаем пакеты и билдим
          for /r %%f in (*.csproj) do (
            echo Билдим инжектор: %%f
            dotnet restore "%%f"
            msbuild "%%f" /p:Configuration=Release /p:Platform=AnyCPU
          )

      - name: Upload Finished Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Nitrogen_Final_Binaries
          path: |
            **/x64/Release/*.dll
            **/bin/Release/*.exe
            **/bin/Release/net48/*.exe
