name: Compile Nitrogen

on: [push, workflow_dispatch]

jobs:
  build_dll:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java (for JNI headers)
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Build Nitrogen DLL
        run: |
          $jvmLibPath = Get-ChildItem -Path $env:JAVA_HOME -Filter jvm.lib -Recurse | Select-Object -First 1
          $env:LIB += ";$($jvmLibPath.DirectoryName)"
          $env:INCLUDE += ";$env:JAVA_HOME\include;$env:JAVA_HOME\include\win32"
          msbuild src/NitrogenDLL/NitrogenDLL.vcxproj /p:Configuration=Release /p:Platform=x64

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Nitrogen-DLL-Ready
          path: src/NitrogenDLL/x64/Release/NitrogenDLL.dll
