name: Nitrogen_Final_Package_Fix
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build Everything
        shell: cmd
        run: |
          :: Используем твою папку с jvm.lib для линковки
          set LIB=D:\a\nitrogensrcminecraft\nitrogensrcminecraft\NitrogenDLL;%LIB%
          
          :: Собираем DLL (уже знаем, что компилится)
          msbuild NitrogenDLL\NitrogenDLL.vcxproj /p:Configuration=Release /p:Platform=x64
          
          :: Собираем Инжектор
          dotnet restore NitrogenInjector\NitrogenInjector.csproj
          msbuild NitrogenInjector\NitrogenInjector.csproj /p:Configuration=Release /p:Platform=AnyCPU

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Nitrogen_Release_Files
          # Указываем пути МАКСИМАЛЬНО ЖЕСТКО, чтобы Гитхаб их нашел
          path: |
            NitrogenDLL/x64/Release/NitrogenDLL.dll
            NitrogenInjector/bin/Release/net48/Nitrogen.exe
            NitrogenInjector/bin/Release/net48/Nitrogen.exe.config
