- name: Build Nitrogen DLL
      shell: powershell
      run: |
        # Ищем файл проекта ВООБЩЕ везде в текущей директории
        $projectFile = Get-ChildItem -Filter "NitrogenDLL.vcxproj" -Recurse | Select-Object -First 1
        
        if ($projectFile) {
            $projPath = $projectFile.FullName
            Write-Host "Нашел проект по пути: $projPath" -ForegroundColor Green
            
            # Настройка JNI (без этого C++ не поймет Java)
            $env:INCLUDE += ";$($env:JAVA_HOME)\include;$($env:JAVA_HOME)\include\win32"
            
            # Собираем
            msbuild "$projPath" /p:Configuration=Release /p:Platform=x64
            Write-Host "Готово! Тефтели полетели." -ForegroundColor Cyan
        } else {
            Write-Host "Бля, даже так не нашел! Показываю всё, что есть:" -ForegroundColor Red
            Get-ChildItem -Recurse | Select-Object FullName
            exit 1
        }
